<h3>Imports</h3>

In [1]:
import numpy as np 
import pandas as pd 
from KNNPackage import KNN

<h3>Importing dataset</h3>

In [2]:
dataset = pd.read_csv('/media/cipher/EEC07807C077D3F5/Scikit and PyTorch/Datasets/iris.data', header=None)
dataset.columns = ["F1", "F2", "F3", "F4", "Class"]
dataset

      F1   F2   F3   F4           Class
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [3]:
x = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values
y = y.reshape(150,1)

<h3>Creating classfier object</h3>

In [4]:
knn = KNN(3)
knn.fit(x,y)

<h3>Testing individual sample</h3>

In [5]:
print(knn.batch_predict(x[15].reshape(1,4)))

['Iris-setosa']

<h3>Testing on entire dataset and printing accuracy</h3>

In [6]:
results = knn.batch_predict(x)
knn.calculate_accuracy(y, results)

Accuracy of the model is = 95.33333333333334%